@{
    string change(int number)
    {
        string a = String.Format("{0:#,##0.##}", number);
        return a;
    }
}

<div class="container">
    <H2 class="text-uppercase" style=" padding: 10px 0px; color: rgb(248, 147, 31);">CHI TIẾT ĐƠN HÀNG @ViewBag.orders.Madh - @ViewBag.orders.Tinhtrangdonhang</H2>
    <h4 style=" padding-bottom: 20px;">Ngày đặt hàng: @ViewBag.orders.Ngaylap.Day / @ViewBag.orders.Ngaylap.Month /@ViewBag.orders.Ngaylap.Year</h4>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-4 client__detail">
            <p style="color: #000; font-size: 18px;">ĐỊA CHỈ NGƯỜI NHẬN</p>
            <div class="" style="background-color: #fff; padding:10px; border-radius: 7px; height: 200px">
                <p style="color: #000; font-size: 17px; font-weight: 600">
                    @ViewBag.infor.Hoten
                </p>
                <p style=" font-size: 15px;">Địa chỉ: @ViewBag.infor.Diachi</p>
                <p style=" font-size: 15px;">Điện thoại: @ViewBag.infor.Sodt</p>
            </div>
        </div>
        <div class="col-md-4 delivery__detail">
            <p style="color: #000; font-size: 18px;">THÔNG TIN GIAO HÀNG</p>
            <div class="nenhong" style="background-color: #fff; padding:10px; border-radius: 7px; height: 200px">
                <img class="delivery__logo" style="width: 100px; padding-top: 30px" src="~/assets/img/delivery.png" alt="">
                <p style=" font-size: 15px;">
                    Được giao bởi HiBookDelivery (giao từ TP. HCM)
                </p>
                <p style=" font-size: 15px;">Giao vào Thứ 4, 27/12/2023</p>
                <p style=" font-size: 15px;">Phí vận chuyển: @change(@ViewBag.orders.Tienship) đ</p>
            </div>
        </div>
        <div class="col-md-4 payment__detail">
            <p style="color: #000; font-size: 18px;">HÌNH THỨC THANH TOÁN</p>
            <div class="nenvang" style="background-color: #fff; padding:10px; border-radius: 7px; height: 200px">
                <p style=" font-size: 15px;">@ViewBag.orders.Hinhthucthanhtoan</p>
                <p style=" font-size: 15px; color: rgb(15, 199, 40); font-style:italic">@ViewBag.orders.Tinhtrangthanhtoan</p>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #fff; margin: 0px;">
        <table class="col-md-12" style="">
            <tr style="border-bottom: 1px solid #43c3c7;">
                <th style="padding: 20px; padding-bottom: 10px; font-size:16px"> Sản phẩm </th>
                <th style="font-size:16px"> Giá </th>
                <th style="font-size:16px"> Số lượng </th>
                <th style="font-size:16px"> Tạm tính </th>
            </tr>

            @foreach (Book item in ViewBag.chitietdh)
            {
                <tr style="border-bottom: 1px solid #43c3c7;">
                    <td class="product__info" style="padding: 20px">
                        <img class="product__img" src="@item.Hinhanh" alt="">
                        <p class="product__name">@item.Tensach</p>
                    </td>
                    <td style="font-size:14px">@change(@item.Giaban) đ</td>
                    <td style="font-size:14px; text-align:center">@item.Soluong</td>
                    <td style="font-size:14px">@change(@item.Giamgia) đ</td>

                </tr>
            }
        </table>

        <table class="col-md-12 receipt__detail" style="margin: 20px; padding-right: 50px">
            <tr style="color: #333; line-height: 3.2rem;">
                <td style="padding-right: 70px; font-size: 14px">Số lượng sản phẩm </td>
                <td style="font-size:14px">@ViewBag.slmua</td>
            </tr>
            <tr style="color: #333; line-height: 3.2rem;">
                <td style="font-size:14px">Tạm tính</td>
                <td style="font-size:14px">@change(@ViewBag.tamtinh) đ</td>
            </tr>
            @* <tr style="color: #333; line-height: 3.2rem;">
                <td style="font-size:14px">Vourcher áp dụng:</td>
                @if (ViewBag.orders.Makm.length() > 1)
                {
                    <td style="font-size:14px">@ViewBag.orders.Makm</td>
                }
                else
                {
                    <td style="font-size:14px">Không có</td>
                }

            </tr> *@
            <tr style="color: #333; line-height: 3.2rem;">
                <td style="font-size:14px">Giảm giá</td>
                <td style="font-size:14px">@change(@ViewBag.giamgia) đ</td>
            </tr>
            <tr style="color: #333; line-height: 3.2rem;">
                <td style="font-size:14px">Phí vận chuyển</td>
                <td style="font-size:14px">@change(@ViewBag.orders.Tienship) đ</td>
            </tr>
            <tr style="color: rgb(248, 35, 35); font-size: 18px; line-height: 3.2rem;">
                <td style="font-size:14px">Tổng cộng</td>
                <td style="font-size:14px">@change(@ViewBag.orders.Tongtien) đ</td>
            </tr>
        </table>

    </div>
</div>

<style>
    .product__info {
        display: flex;
    }

    .product__img {
        display: block;
        object-fit: contain;
        max-height: 80px !important;
        max-width: 75px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .product__name {
        color: #333;
        margin-left: 20px;
        width: 450px;
        font-size: 1.6rem;
        line-height: 3.2rem;
        align-items: center;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .receipt__detail {
        display: flex;
        justify-content: right;
    }
</style>